.desktop-menu { 
    display: flex; 
    list-style: none; 
    margin: 0; 
    padding: 0; 
}

.mobile-section { 
    display: none; 
    align-items: center; 
}

/* --- MOBILE DROPDOWN --- */
.mobile-dropdown { 
    position: fixed;    
    top: 4rem;      
    right: 0;
    width: 150px;
    background-color: #fffaf3;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
    padding: 10px 0;
    margin: 0;
    list-style: none;
    z-index: 45;
}

.mobile-dropdown li { 
    padding: 10px 0; 
    text-align: center; 
}

.mobile-dropdown li a { 
    text-decoration: none !important; 
    color: black; 
    font-weight: 500;
}

.mobile-dropdown li a:hover { 
    text-decoration: none !important;
    opacity: 0.7;
}

/* --- MOBILE --- */
@media (max-width: 767px) { 
    .desktop-menu { 
        display: none !important; 
    } 

    .mobile-section { 
        display: flex; 
        gap: 1rem; 
        margin-right: 10px; 
    } 

    nav { 
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 4.5rem;
        z-index: 50;
    } 
}

/* --- DESKTOP --- */
@media (min-width: 768px) { 
    .mobile-dropdown { 
        display: none !important; 
    } 
}
