.desktop-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .mobile-section {
    display: none;
    align-items: center;
  }
  
  .mobile-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3.5rem;
    right: 0;
    width: 150px;
    background-color: #fffaf3;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    list-style: none;
    margin: 0;
    z-index: 40;
  }
  
  .mobile-dropdown li {
    padding: 10px 0;
    text-align: center;
  }
  
  .mobile-dropdown li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
  }
  
  .mobile-dropdown li a:hover {
    text-decoration: underline;
  }
  
  /* Mobile */
  @media (max-width: 767px) {
    .desktop-menu {
      display: none !important;
    }
  
    .mobile-section {
      display: flex;
      gap: 1rem;
      margin-right: 10px;
      margin-left: 10px;
    }
  
    nav {
      height: 4.5rem;
    }
  }
  
  @media (min-width: 768px) {
    .mobile-dropdown {
      display: none !important;
    }
  }
  